body {
  padding: 2em;
  background-color: #f4ecdc;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-family: serif;
}

footer {
  padding: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  text-align: left;
  border: 1px solid;
  border-top: 5px solid #4472C4;
  margin-bottom: 10px;
  font-family: sans-serif;
}


.main-1 {
  background: #FDEEE3;
  width: 40%;
}

.main-2 {
  background: #FBE2D1;
}

.main-3 {
  background: #F9D6BF;
}

.main-4 {
  background: #F7CCAF;
}

@media screen and (min-width: 600px) {
  .main { flex: 1 auto; }
}